/* 
  at-правило вказує кодування для css файлу
*/
@charset "UTF-8";
/* 
  at-правило дозволяє приєднати правила з ціншого css файлу
  (по факту css аналог <link>)
  мають йти перед основними правилами файлу
*/
@import "./reset.css";
@import url("./font-face.css");
@import "./media/print.css" print;
@import "./media/screen.css" screen;
@import "./media/common.css" print, screen;
@import './header.css';

* {
  box-sizing: border-box;
}

.main {
  background-color: darkgrey;
  padding: 10px;
}