* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  min-height: 100vh;
}

.header {
  position: sticky;
  top: 0;
  background-color: orange;
  padding: 20px 30px;
}

.container {
  display: block;
  max-width: 1600px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
  padding: 10px;
  background-color: darkgray;
}

.article {
  border: 1px solid black;
  padding: 20px;
  border-radius: 15px;
  background-color: dodgerblue;
}

.article h2 {
  text-align: center;
  margin-bottom: 16px;
}

.footer {
  /* margin-top: auto; */
  padding: 20px;
  text-align: center;
  background-color: darkcyan;
  color: white;
}