.heading {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

.container {
  /* 
    display: flex - перетворює елемент на флекс-контейнер
  */
  display: flex;
  height: 600px;

  /* 
    flex-direction - змінює напрямок головної вісі флекс контейнера

      row - зліва направо (за замовчанням)
      column - зверху вниз
      row-reverse - зправа наліво
      column-reverse - знизу уверх
  */
  /* flex-direction: column-reverse; */

  /* 
    justify-content - керує розміщенням елементу вздовж головної вісі
      flex-start - розміщує флекс дітей від початку осі до її кінця
      flex-end - розміщує флекс дітей від кінця осі до початку
      center - розміщує по центу головної осі
      space-evenly -  порівну розділяє вільний простір вздовж головної осі 
                      між усіма елементами і стінками контейнеру
                      ( х до стінок та між елементами)
      space-around - кожен елемент штовхається зліва та зправа на однакову відстать від інших елементів
                      ( х до стінок та 2х між елементами)
      space-between - елементи відштохуються один від одного але не від стінок контейнера
                      (х тількі між елементами)
  */
  /* justify-content: center; */
  
  /* 
    align-items - керує розміщенням флекс-дітей вздовж поперечної вісі
      stretch - розтягує елемент вздово бічної вісі (за замовчанням)
      flex-start - розміщує флекс дітей від початку осі до її кінця
      flex-end - розміщує флекс дітей від кінця осі до початку
      center - розміщує по центу поперечної осі
      baseline - вірівнює елементи вздовж базової лінії
  */
  /* align-items: flex-start; */

  
    /* flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: flex-end;  */
 
  
    /* flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  */
 

  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;


  /* 
  flex-wrap - керує кількістю ліній у контейнері
    nowrap - немає обертання дітей, 1 лінія у контейнері (за замовчанням)
    wrap - додає нові лінії до контейнеру поки всі діти не будуть розміщені
    wrap-reverse -  додає нові лінії до контейнеру поки всі діти не будуть розміщені
                    при цьому може змінювати напрямок бічної вісі
    */
  flex-wrap: wrap; 

  /* 
    align-content - керує простором та вирівнюванням рядків відносно поперечної вісі
      stretch - ділить вільний простір у поперечної вісі порівну між лініями (за замовчанням)
      flex-start - розміщуються з початку поперечної вісі, простір у кінці 
      flex-end - розміщуються у кінці поперечної вісі, простір зосереджено на початку 
      center - розміщуються в центрі, простір на початку та у кінці
      space-evenly - однакова відстань між рядками та стінками  
      space-around - елементи в рядку штовхаються на однакову відстань в обидва боки
      space-between - крайні елементи біля стінок, простір рівномірно між рядків
  */
  align-content: flex-start;


  border: 5px solid red;
}

.flex-item {
  /* display: inline-block; */
  border: 3px solid black;
  font-size: 30px;
  padding: 15px;
  background-color: dodgerblue;
  color: white;
}

/* .flex-item:nth-child(3) {
  font-size: 70px;
}

.flex-item:nth-child(5) {
  font-size: 12px;
} */

.flex-item:nth-child(5) {
  width: 150px;
}