.heading {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

.container {
  /* 
    display: flex - перетворює елемент на флекс-контейнер
  */
  display: flex;
  height: 600px;

  /* 
    flex-direction - змінює напрямок головної вісі флекс контейнера

      row - зліва направо (за замовчанням)
      column - зверху вниз
      row-reverse - зправа наліво
      column-reverse - знизу уверх
  */
  flex-direction: column-reverse;

  /* 
    justify-content - керує розміщенням елементу вздовж головної вісі
      flex-start - розміщує флекс дітей від початку осі до її кінця
      flex-end - розміщує флекс дітей від кінця осі до початку
      center - розміщує по центу головної осі
      space-evenly -  порівну розділяє вільний простір вздовж головної осі 
                      між усіма елементами і стінками контейнеру
                      ( х до стінок та між елементами)
      space-around - кожен елемент штовхається зліва та зправа на однакову відстать від інших елементів
                      ( х до стінок та 2х між елементами)
      space-between - елементи відштохуються один від одного але не від стінок контейнера
                      (х тількі між елементами)
  */
  justify-content: center;
  
  /* 
    align-items - керує розміщенням флекс-дітей вздовж поперечної вісі
      stretch - розтягує елемент вздово бічної вісі (за замовчанням)
      flex-start - розміщує флекс дітей від початку осі до її кінця
      flex-end - розміщує флекс дітей від кінця осі до початку
      center - розміщує по центу поперечної осі
      baseline - вірівнює елементи вздовж базової лінії
  */
  align-items: flex-start;

  border: 5px solid red;
}

.flex-item {
  /* display: inline-block; */
  border: 3px solid black;
  font-size: 30px;
  padding: 15px;
  background-color: dodgerblue;
  color: white;
}

/* .flex-item:nth-child(3) {
  font-size: 70px;
}

.flex-item:nth-child(5) {
  font-size: 12px;
} */