
.grid-container {
  /* активація грідів */
  display: grid;
  min-height: 100vh;
  /* 
    вказуємо розміри та кількість колонок у гріді
  */
  /* grid-template-columns: 200px 400px 150px; */
  /* 
    вказуємо розміри та кількість рядків у гріді
  */
  /* grid-template-rows: 500px 200px; */
  /* 
    скорочення від  grid-template-rows і grid-template-columns
  */
  /* 
    особливі одиниці виміру
      1fr - коєфіціент, працює схоже на flex-grow з вільним простором
      auto - від'єдає все вільне місце по ширині / висоті якщо намє fr
  */
  grid-template: 200px 1fr 200px / 400px auto 350px;
}

.grid-child {
  /* border: 4px solid black; */
  padding: 20px; 
  font-size: 3.5rem;
}

.header {
  background-color: red;
  /* 
    вказує з якого вертикального треку починається елемент
  */
  /* grid-column-start: 1; */
  /* 
    вказує на якому вертикальному треку елемент зупиниться
  */
  /* grid-column-end: 4; */
  /* 
    скорочення у вигляді
    grid-column-start / grid-column-end
  */
  grid-column: 1 / 4;
}

.aside {
  background-color: blue;
  /* grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2; */
  grid-area: 2 / 1 / 3 / 2;
}

.main {
  background-color: blueviolet;
  /* grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3; */
  /* 
    скорочення у вигляді
    row-start / column-start / row-end / column-end
  */
  grid-area: 2 / 2 / 3 / 3;
}

.nav {
  background-color: aqua;
  /* grid-row-start: 2;
  grid-row-end: 3; */
  /* grid-column-start: 3;
  grid-column-end: 4; */
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}

.footer {
  background-color: orange;
  grid-column-start: 1;
  grid-column-end: 4;
  /* 
    вказує з якого горизонтального треку починається елемент
  */
  /* grid-row-start: 3; */
  /* 
    вказує на якому горизонтальному треку закінчується елемент
  */
  /* grid-row-end: 4; */
  /* 
    скорочення у вигляді
    grid-row-start / grid-row-end
  */
  grid-row: 3 / 4;
} 