
.grid-container {
  /* активація грідів */
  display: grid;
  min-height: 100vh;
  /* 
    вказуємо розміри та кількість колонок у гріді
  */
  /* grid-template-columns: 200px 400px 150px; */
  /* 
    вказуємо розміри та кількість рядків у гріді
  */
  /* grid-template-rows: 500px 200px; */
  /* 
    скорочення від  grid-template-rows і grid-template-columns
  */
  /* 
    особливі одиниці виміру
      1fr - коєфіціент, працює схоже на flex-grow з вільним простором
      auto - від'єдає все вільне місце по ширині / висоті якщо намє fr
  */
  grid-template: 500px auto / 100px auto 200px;
}

.grid-child {
  border: 4px solid black;
  padding: 20px;
}