/* 
  тут стилі виключно пов'язані з компонентом хедера
*/

:root {
  font-size: 14px;
}
/* 
  мобілки
  + загальні стилі для всіх розмірів
*/
.header {
  padding: 20px 30px;
  background-color: orchid;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.page-heading {
  font-size: 2rem;
  font-weight: bold;
}

.menu {
  border: 5px solid black;
  padding: 10px 15px;
  border-radius: 10px;
}

@media print {
  /* 
    все в фігурних дужках додається до осонвного файла якщо
    медіазапит валідний
  */
  .page-heading {
    font-size: 5rem;
    color: blueviolet;
  }

  .menu {
    border-color: red;
  }
}

/* 
  min-width - працює для розмірів більше або дорівнює Х px
  max-width - працює для розмірів меншье або дорівнює Х px
*/
/* @media screen and (max-width: 700px) {
  .header {
    background-color: chartreuse;
  }
} */

/*
  Extra small	None	<576px (телефони)
  Small	sm	≥576px  (великі телефони)
  Medium	md	≥768px (планшети)
  Large	lg	≥992px (ноутбуки - комп'ютери)
  Extra large	xl	≥1200px (комп'ютери)
  Extra extra large	xxl	≥1400px (великі екрани)
*/

/* 
  Desktop first

  спочатку пишемо в селекторах стилі длля великих моніторів
  потім пишемо медіа запити в яких користуємося брейкпоінтами і max-width
  медіа запити формуємо від більших бейкпоінтів до менших
*/

/* @media screen and (max-width: 1400px) {
  .header {
    background-color: chartreuse;
  }
}


@media screen and (max-width: 1200px) {
  .header {
    background-color: orange;
  }
} */

/* 
  Mobile first

  спочатку пишемо в селекторах стилі длля телефонів
  потім пишемо медіа запити в яких користуємося брейкпоінтами і min-width
  медіа запити формуємо від менших бейкпоінтів до більших
*/

/* 
  лопатофони
*/
@media screen and (min-width: 576px) {
  .header {
    background-color: chartreuse;
    padding: 50px;
  }
}

/* 
  планшети
*/
@media screen and (min-width: 768px) {
  :root {
    font-size: 16px;
  }

  .header {
    background-color: orange;
  }

  .header-container {
    flex-direction: column;
  }
} 

/* 
  планшети + маленьки ноутбуки
  + старі квадратні монітори 
*/
@media screen and (min-width: 992px) {
  :root {
    font-size: 20px;
  }

  .header-container {
    flex-direction: row-reverse;
  }

  .header {
    background-color: aquamarine;
  }
}
/* 
  сучасні ноутбуки + комп'ютери
*/
@media screen and (min-width: 1200px) {
  .header {
    background-color: cadetblue;
  }
}

@media screen and (min-width: 1400px) {
  .header {
    background-color: darkgray;
  }
}

/* 
                min-width
  базові стилі -> 576px -> 768px -> 992px -> 1200px -> 1400px
*/


/* 
                max-width
  базові стилі -> 1400px -> 1200px -> 992px -> 768px -> 576px
*/