h1 {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
}

.outer {
  width: 800px;
  height: 200vh;
  background-color: aqua;
  margin: 0 auto;
}

.inner {
  width: 600px;
  height: 50%;
  background-color: brown;
  margin: 0 auto;
}

.box {
  width: 70px;
  height: 70px;
  font-size: 40px;
  color: white;
  background-color: blue;
  text-align: center;
  border: 5px solid red;
}

.box:nth-child(2) {
  /* 
    position - встановлює режим позиціонування елементу
    static | relative | absolute | fixed | sticky
  */
  /* position: static; */
  position: relative;
  /* 
    керування зсувом нестатично 
    спозиціонованого елементу
    top
    bottom
    left
    right
    позитивні значення - зсув у протилежну сторону (left зсуває направо)
    негативні - зсув у вказану сторону (top угору)
  */
  left: 50px;
  bottom: -50px;
}

 .box:nth-child(3) {
  position: fixed;

  /*top: 100vh;*/ 
  bottom: 0;
  right: 0;
}

.box:nth-child(4) {
  position: sticky;
  top: 0;
  z-index: 512121545;
}

.box:nth-child(1) {
  position: absolute;
  top: 40px;
  left: 30px;
  z-index: 1;
}

.relative {
  position: relative;
}

.first-relative-box {
  left: 140px;
  top: 140px;
}

.second-relative-box {
  left: 70px;
}

.fixed {
  position: fixed;
}

.fixed-top {
  top: 10px;
}

.fixed-left {
  left: 30px;
}

.fixed-right {
  right: 50px;
}

.fixed-bottom {
  bottom: 45.27px;
}

.fixed-center {
  top: 47vh;
  left: 47vw;
}

.container {
  position: relative;
  height: 650px;
  width: 650px;
  top: 200px;
  left: 600px; 
}
.div-one {
  left: 400px;
}
.div-two {
  right: 400px;
}
.border{
  border-radius: 50%;
  border: 5px solid #000;
  background-color: black;
}
.position{
  height: 400px;
  width: 400px;
  position: absolute;
  bottom: 400px;
}