/* 
  селектори, пов'язані з атрибутами
  специфічність - 10
*/

/* 
  селектор який працює для всіх елементів з атрибутом title
*/
[title] {
  background-color: aquamarine;
}

/* 
  селектор який працює для усіх елементів з атрибутом title з значенням Test title
*/
[title="Test title"] {
  font-weight: bold;
  font-size: 24px;
}

/* 
  селектор який працює для усіх елементів з атрибутом title зі значенням, яке розпочинається
  зі слова other
*/
[title^="other"] {
  border: 3px solid red;
}

/* 
  селектор який працює для усіх елементів з атрибутом title зі значенням, всередені якого є слово 
  animal
*/
[title~="animal"] {
  width: 200px;
  height: 200px;
}