/* 
  селектори, пов'язані з атрибутами
  специфічність - 10
*/

/* 
  селектор який працює для всіх елементів з атрибутом title
*/
[title] {
  background-color: aquamarine;
}

/* 
  селектор який працює для усіх елементів з атрибутом title з значенням Test title
*/
[title='Test title'] {
  font-weight: bold;
  font-size: 24px;
}

/* 
  селектор який працює для усіх елементів з атрибутом title зі значенням, яке розпочинається
  зі слова other
*/
[title^='other'] {
  border: 3px solid red;
}

/* 
  селектор який працює для усіх елементів з атрибутом title зі значенням, всередені якого є слово 
  animal
*/
[title~='animal'] {
  width: 200px;
  height: 200px;
}

/* 
  Комбінатор кома (A, B)
  одночасно застосовує правило для кількох селекторів, розділених комами
*/

h1,
h2,
h3 {
  text-align: right;
}

/* 
  Комбінатор дитячого елементу (A>B)
  застосовує правило для селектору B якщо він напряму сидить у елементі
  з селектором A
*/
.article > p {
  color: red;
}

.nav > .ul > .li > .a {
  color: blue;
}

.a {
  color: red;
}

/* 
  Комбінатор елементу - нащадка (A B)
  застосовує правило для селектору B якщо він сидить 
  на будь-якому рівні вкладеності у елементі з селектором A
*/
.article p {
  font-style: italic;
}

/* 
  Комбінатор прямих сусідів (A + B)
  застосовує правило для селектору B якщо він сидить 
  напряму за елементом з селектором A на одному рівні вкладеності
*/
h2+p {
  padding: 20px;
}

/*
  Комбінатор всіз сусідів (A ~ B)
  застосовує правило для селектору B якщо він сидить 
  за елементом з селектором A на одному рівні вкладеності
*/

h2 ~ p {
  text-decoration: line-through solid black;
}

/* .nav > h2 + ul {

} */


img[alt="cat"]#my-cat.img {

}

.text.article-text {

}

/* 
  CSS - змінні
*/

body {
  /* застосування CSS - змінних */
  color: var(--text-color);
}

/* 
  Псевдокласи
  :root = html
  специфічність - 10
*/

/* html, */
:root {

  /* 
    --назва-змінної: значення_css_властивості;
  */
  --text-color: green;
  --big-padding: 40px;


}

.square-img {
  --size: 700px;
  width: var(--size);
  height: var(--size);
}