/* 
  селектори, пов'язані з атрибутами
  специфічність - 10
*/

/* 
  селектор який працює для всіх елементів з атрибутом title
*/
[title] {
  /* background-color: aquamarine; */
}

/* 
  селектор який працює для усіх елементів з атрибутом title з значенням Test title
*/
[title='Test title'] {
  /* font-weight: bold;
  font-size: 24px; */
}

/* 
  селектор який працює для усіх елементів з атрибутом title зі значенням, яке розпочинається
  зі слова other
*/
[title^='other'] {
  /* border: 3px solid red; */
}

/* 
  селектор який працює для усіх елементів з атрибутом title зі значенням, всередені якого є слово 
  animal
*/
[title~='animal'] {
  /* width: 200px;
  height: 200px; */
}

/* 
  Комбінатор кома (A, B)
  одночасно застосовує правило для кількох селекторів, розділених комами
*/

/* h1,
h2,
h3 {
  text-align: right;
} */

/* 
  Комбінатор дитячого елементу (A>B)
  застосовує правило для селектору B якщо він напряму сидить у елементі
  з селектором A
*/
/* .article > p {
  color: red;
}

.nav > .ul > .li > .a {
  color: blue;
}

.a {
  color: red;
} */

/* 
  Комбінатор елементу - нащадка (A B)
  застосовує правило для селектору B якщо він сидить 
  на будь-якому рівні вкладеності у елементі з селектором A
*/
/* .article p {
  font-style: italic;
} */

/* 
  Комбінатор прямих сусідів (A + B)
  застосовує правило для селектору B якщо він сидить 
  напряму за елементом з селектором A на одному рівні вкладеності
*/
/* h2 + p {
  padding: 20px;
} */

/*
  Комбінатор всіз сусідів (A ~ B)
  застосовує правило для селектору B якщо він сидить 
  за елементом з селектором A на одному рівні вкладеності
*/

/* h2 ~ p {
  text-decoration: line-through solid black;
} */

/* .nav > h2 + ul {

} */

/* img[alt='cat']#my-cat.img {
}

.text.article-text {
} */

/* 
  CSS - змінні
*/

body {
  /* застосування CSS - змінних */
  /* color: var(--text-color); */
}

/* 
  Псевдокласи
  :root = html
  специфічність - 10
*/

/* html, */
:root {
  /* 
    --назва-змінної: значення_css_властивості;
  */
  --text-color: green;
  --big-padding: 40px;
}

.square-img {
  --size: 700px;
  width: var(--size);
  height: var(--size);
}

.link {
  /* display: inline-block;
  color: blue;
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid black;
  width: 120px;
  background: lightgreen;
  text-align: center; */
}

/* 
  псевдоклас not(X)
  X - селектор для якого стилі які будуть указані 
  в правилі НЕ мають бути застосовані
*/
.link:not(button, div, ul > li) {
  /* font-style: italic; */
}

/* 
  :link - стилізація посилань, на які користувач не переходив
*/

.link:link {
  /* text-decoration: underline solid; */
}

/* 
  :visited - стилізація посилань, на які користувач вже переходив
*/

.link:visited {
  /* text-decoration: none;
  color: purple;
  background-color: lime; */
}

/* 
  :hover - особливо стилізує елемент, якщо користувач навів на нього мишею
*/

.article:hover,
.article:focus {
  /* background-color: blueviolet;
  color: white; */
}

/*
  :focus - особливо стилізує елемент, якщо на ньому є фокус
  (фокус отримуємо при кліку або натисканню клавіші tab)
*/

.link:hover,
.link:focus {
  /* color: white;
  background: darkcyan;
  outline: none; */
}

/* 
  :active - особливо стилізує елемент, якщо користувач активував його
  (затиснув мишу)
*/

.link:active {
  /* color: red;
  border-color: red; */
}

.li {
  /* max-width: 250px;
  padding: 10px 15px;
  background-color: lightseagreen;
  color: white;
  text-align: center; */
}

/* 
  :first-child - додає особливі стилі до елементу
  якщо той є першою дитиною батьківського елементу
*/
/* .first-li, 
.list > :first-child { */
.li:first-child {
  /* color: yellow;
  font-weight: bold; */
}
/* 
  :last-child - додає особливі стилі до елементу
  якщо той є останньою дитиною батьківського елементу
*/
.li:last-child {
  /* font-style: italic;
  text-transform: uppercase; */
}

/* 
  :nth-child(N) - додає особливі стилі до елементу
  якщо той відповідає значенню N
    N може бути:
      1) числом
      2) вираз вигляду (An + B)
      де A, В - числа
      3) слова even та odd
*/
/* .li:nth-child(3n + 1) {
  background-color: chocolate;
} */

.li:nth-child(odd) {
  /* background-color: chocolate; */
}

.article {
  width: 600px;
  padding: 20px;
  border: 5px solid red;
  border-radius: 15px;
  margin-bottom: 10px;
}

.article-heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}

.article-text {
  text-align: justify;
  margin-bottom: 8px;
}

.ul {
  padding-left: 20px;
}

/* 
  ::first-letter - особливо стилізує першу літтеру
  блочного елементу, якщо пере нею немає інших елементів
  (картинки, таблиці і тд)
*/
.article-text::first-letter {
  font-size: 24px;
  color: red;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
}
/* 
  ::first-line - особливо стилізує перший рядок тексту
*/
.article-text::first-line {
  background-color: aquamarine;
  text-decoration: underline solid;
}

/* 
  ::selection - особливі стилі для виділенного елементу
*/
.article-text::selection {
  background-color: limegreen;
}

.li-item {
  list-style-image: url('../icons/free-shipping.png');
}

.li-item::first-letter {
  color: red;
}