/* все працює так само як і у <style> */

div {
  color: #fba602;
}

/* 
  Приклад коментаря у css
  це css правило для параграфів яке робить їх усіх на сторінці зеленого кольору
  */
p {
  /*
    вказання кольору тексту
  */
  /* color: green; */
  /* 
    Red | Green | Blue
    0 - 255 діапазон для кожного числа
  */
  /* color: rgb(0, 128, 0); */
  /*
    а - альфа канал
    (прозорий) 0 - 1  (непрозорий)
  */
  /* color: rgba(0, 128, 0, 1); */
  /*
    # - хекс код

    R   G     B
    00  ff   00
  */
  /* color: #00ff00; */

  /* 
    Розмір шрифта
    css 1px = 1 / 96 дюйма
  */
  /* font-size: 24px; */

  /* 
    керування жирнотою тексту

    normal (400, за замовчанням для тексту ) | bold (700, заголовки)
  */
  /* font-weight: bold; */

  /* 
    курсивність тексту
    normal | italic | oblique
  */
  font-style: italic;

  text-align: justify;
}

h2 {
  /* 
    керування горизонтальним розміщенням тексту
    left | right | center | justify
  */
  text-align: center;

  /* font-size: 16px; */
  /* font-weight: normal; */
}

.link {
  /* 
    керує відображенням великих / маленьких літер у тексті
    none | capitalize | uppercase | lowercase
  */
  text-transform: capitalize;

  /* 
    керує відображенням підреслень 
    та деяких інших декоріцій тексту

    text-decoration-line + text-decoration-style + text-decoration-color
  */
  /* text-decoration: none; */
  text-decoration: line-through underline wavy red;


  /* 
    тип лінії декорації
    none | underline | overline | line-through
  */
  /* text-decoration-line: line-through underline; */

  /* 
    визначає стиль ліній
    solid | double | dotted | dashed | wavy
  */
  /* text-decoration-style: wavy;  */
  /* 
    колір декорацій
      за замовчанням співпадає з кольором тексту
  */
  /* text-decoration-color: red;  */
}

body {
  /* 
    вказання фонового кольору елементу
  */
  background-color: gray;
  /* 
    скорочення для задаваня властивостей фону
  */
  background: lightgray;
}

/*
  селектор за назвою тегу
    діє на всі елементи на сторінці зі співпавшою назвою
    специфічність : 1
*/
h1 {
  color: red;
  font-size: 50px;
}

/* 
  селектор по id 
    дає на елементи з співпадаючим id
    специфічність : 100
*/
#article-1-text {
  /* color: lime; */
}

#main-heading {
  font-size: 90px;
  color: lime;
}

/*
  селектор по классу
    діє на всі елементи з співпадаючим класом
    специфічність : 10
*/
.big-text {
  font-size: 40px;
  color: orchid;
}

.blue-text {
  color: rgb(30, 229, 255);
}


img {
  /* 
    встановлюємо ширину елементу
  */
  width: 200px;
}