/* все працює так само як і у <style> */

div {
  color: #fba602;
}

/* 
  Приклад коментаря у css
  це css правило для параграфів яке робить їх усіх на сторінці зеленого кольору
*/
p {
  /*
    вказання кольору тексту
  */
  /* color: green; */
  /* 
    Red | Green | Blue
    0 - 255 діапазон для кожного числа
  */
  /* color: rgb(0, 128, 0); */
  /*
    а - альфа канал
    (прозорий) 0 - 1  (непрозорий)
  */
  /* color: rgba(0, 128, 0, 1); */
  /*
    # - хекс код

    R   G     B
    00  ff   00
  */
  /* color: #00ff00; */

  /* 
    Розмір шрифта
    css 1px = 1 / 96 дюйма
  */
  font-size: 24px;

  /* 
    керування жирнотою тексту

    normal (400, за замовчанням для тексту ) | bold (700, заголовки)
  */
  font-weight: bold;
}

h2 {
  /* font-size: 16px; */
  /* font-weight: normal; */
}

h1 {
  color: red;
}
