* {
  box-sizing: border-box;
}

table {
  background-color: darkgoldenrod;
  /* border: 4px solid; */
  border-collapse: collapse;
}

caption {
  font-size: 24px;
  text-align: left;
  text-indent: 16px;
}

tr {}

td {
  padding: 10px;
  border: 4px solid;
}

th {
  padding: 10px;
  border: 4px solid;
}
