.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  padding: 20px;
  background-color: aquamarine;
  border-bottom: 2px solid black;
}

.nav {

}

.nav-list {
  font-size: 0;
}

.nav-list-item {
  display: inline-block;
}

.nav-list-item + .nav-list-item {
  margin-left: 5px;
}

.link {
  position: relative;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid black;
  font-size: 16px;
  background-color: darkcyan;
  color: white;

  /* 
    анімування переходів
  */
  transition: all 300ms linear 50ms;

  /* 
    кого ви анімуєте
    вказуєти назву одного або декількох властивостей або all
  */
  /* transition-property: color, background-color; */
  /* transition-property: all; */

  /* 
    час анімації
    рекомендовано час анімації не ставити більше 500ms
  */
  /* transition-duration: 300ms; */

  /* 
    керує плавністю анімації
    linear | ease | ease-in | ease-out |  ease-in-out
  */
  /* transition-timing-function: linear; */

  /* 
    затримка перед початком переходу
  */
  /* transition-delay: 50ms; */
}

.link:hover,
.link:focus {
  outline: none;
  background-color: dodgerblue;
  border-color: red;
  /* transition: all 1000ms ease 0ms; */
}

.link::before {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 5px;
  width: 0;
  background-color: lime;

  transition: width 0.4s ease-in;
}

.link:hover::before {
  width: 100%;
}

.container {
  margin: 20px 0;
  border: 5px solid black;
}

.inner {
  padding: 20px;
  width: 200px;
  background-color: teal;
  color: white;
  font-size: 24px;
  font-weight: bold;
  /* margin: 0 auto; */

  transition: width 3s;
}

.container:hover .inner {
  width: 100%;
}

.linear {
  transition-timing-function: linear;
}

.ease {
  transition-timing-function: ease;
}

.ease-in {
  transition-timing-function: ease-in;
}

.ease-out {
  transition-timing-function: ease-out;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

main {
  min-height: 200vh;
}